@import url("https://fonts.bunny.net/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
    font-family: "Ubuntu Mono", sans-serif;
}

body {
    background-color: black;
    color: white;
}

div.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
